.bannerImageContainer {
    display: block;
    position: relative;
    top: 0;
    height: 100%;
    width: 100%;
}

.bannerImageContainer img {
    max-width: 100%;
    max-height: 100%;
}

.bannerImageOne {
    left: -4rem;
    top: 2.5rem;
}

.bannerImageTwo {
    /* left: 20rem;
    top: -3rem; */
    float: left;
}

.iconList {
    width: auto;
}
@media (min-width: 320px) {
    .iconList {
        height: 5rem;
    }
}
@media (min-width: 768px) {
    .iconList {
        height: 10rem;
        padding-top: 1rem;
    }
}

.iconListbuisnessReady {
    width: auto;
}
@media (min-width: 320px) {
    .iconListbuisnessReady {
        height: 4rem;
    }
}
@media (min-width: 768px) {
    .iconListbuisnessReady {
        height: 10rem;
        padding-top: 1rem;
    }
}

.iconRow {
    align-content: center;
    height: 10rem;
    width: auto;
    padding-bottom: 4rem;
}
@media (min-width: 768px) {
    .iconRow {
        height: 14rem;
    }
}
